<div class="analytic">
  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">
        <h4>Earning</h4>

        <div>
          <mat-form-field>
            <mat-label>Days</mat-label>
            <mat-select>
              <mat-option>
                7 days
              </mat-option>
              <mat-option>
                30 days
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-content">
        <p class="icon">$</p>
        <p class="number">0</p>
      </div>
      <p class="total">Total earnings</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">
        <h4>Vistors</h4>

        <div>
          <mat-form-field>
            <mat-label>Days</mat-label>
            <mat-select>
              <mat-option>
                7 days
              </mat-option>
              <mat-option>
                30 days
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-content">
        <p class="number">0</p>
      </div>
      <p class="total">Total earnings</p>
    </mat-card-content>
  </mat-card>
</div>