<div class="analytic">
  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">
        <h4>Earning</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-content">
        <p class="icon">$</p>
        <p class="number">0</p>
      </div>
      <p class="total">Total earnings</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">
        <h4>Vistors</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-content">
        <p class="number">0</p>
      </div>
      <p class="total">Total earnings</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">
        <h4>Vistors</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-content">
        <p class="number">0</p>
      </div>
      <p class="total">Total earnings</p>
    </mat-card-content>
  </mat-card>

</div>