#splash-screen {
  display: none;
  opacity: 0;
  transition: all 800ms ease;
  z-index: 99999;
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#splash-screen.show {
  display: block;
  opacity: 1;
}

#splash-screen .center {
  display: block;
  width: 100%;
  position: absolute;
  top: 30%;
}

#splash-screen .logo {
  height: 86px;
  text-align: center;
  margin: 0 auto;
}

#splash-screen .logo img {
  max-height: 100%;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.2))
}

#splash-screen .spinner-wrapper {
  display: block;
  position: relative;
  width: 100%;
  min-height: 100px;
  height: 100px;
}

#splash-screen .spinner-wrapper .spinner {
  position: absolute;
  overflow: hidden;
  left: 50%;
  margin-left: -50px;
  animation: outer-rotate 2.91667s linear infinite;
}

#splash-screen .spinner-wrapper .spinner .inner {
  width: 100px;
  height: 100px;
  position: relative;
  animation: sporadic-rotate 5.25s cubic-bezier(0.35, 0, 0.25, 1) infinite;
}

#splash-screen .spinner-wrapper .spinner .inner .left,
#splash-screen .spinner-wrapper .spinner .inner .right {
  position: absolute;
  top: 0;
  height: 100px;
  width: 50px;
  overflow: hidden;
}

#splash-screen .spinner-wrapper .spinner .inner .left::before,
#splash-screen .spinner-wrapper .spinner .inner .right::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 5px solid #5467f7;
  border-bottom-color: transparent;
  border-radius: 50%;
}

#splash-screen .spinner-wrapper .spinner .inner .left {
  left: 0;
}

#splash-screen .spinner-wrapper .spinner .inner .left::before {
  left: 0;
  border-right-color: transparent;
  animation: left-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
  -webkit-animation: left-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
}

#splash-screen .spinner-wrapper .spinner .inner .right {
  right: 0;
}

#splash-screen .spinner-wrapper .spinner .inner .right::before {
  right: 0;
  border-left-color: transparent;
  animation: right-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
  -webkit-animation: right-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
}

@keyframes outer-rotate {
  0% {
    transform: rotate(0deg) scale(0.5);
  }

  100% {
    transform: rotate(360deg) scale(0.5);
  }
}

@keyframes left-wobble {

  0%,
  100% {
    transform: rotate(130deg);
  }

  50% {
    transform: rotate(-5deg);
  }
}

@keyframes right-wobble {

  0%,
  100% {
    transform: rotate(-130deg);
  }

  50% {
    transform: rotate(5deg);
  }
}

@keyframes sporadic-rotate {
  12.5% {
    transform: rotate(135deg);
  }

  25% {
    transform: rotate(270deg);
  }

  37.5% {
    transform: rotate(405deg);
  }

  50% {
    transform: rotate(540deg);
  }

  62.5% {
    transform: rotate(675deg);
  }

  75% {
    transform: rotate(810deg);
  }

  87.5% {
    transform: rotate(945deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}
